openapi: 3.2.0
info:
  title: CodaMetrix Status API
  version: '2.0'
  summary: Public, unauthenticated JSON status API for the CodaMetrix platform.
  description: 'Machine-readable operational status for the CodaMetrix CMX CARE platform, served from CodaMetrix''s own status host (status.codametrix.com) by Atlassian Statuspage as a Page API v2 instance. Every endpoint is an unauthenticated HTTP GET returning `application/json` with permissive CORS (`access-control-allow-origin: *`) and a 10 second edge cache. The API exposes the page identity, an overall status rollup, the component tree (CMX-Automate group containing CMX Automate and Analytics Dashboards, and the CMX-Amplify group), incidents (all and unresolved) and scheduled maintenances (all, upcoming, active). Incident history is additionally published as Atom and RSS feeds at https://status.codametrix.com/history.atom and https://status.codametrix.com/history.rss.


    PROVENANCE — this description is NOT published by CodaMetrix. CodaMetrix publishes no OpenAPI. This document was written by the API Evangelist enrichment pipeline from two sources only: (1) the endpoint reference CodaMetrix serves at https://status.codametrix.com/api/, and (2) live responses fetched from each endpoint on 2026-08-04, every one of which returned HTTP 200. Schemas describe the fields actually observed in those responses. Nothing here is inferred beyond those two sources. See `x-evidence` below.'
  contact:
    name: CodaMetrix Support
    email: support@codametrix.com
    url: https://www.codametrix.com/
  x-logo:
    url: https://cdn.prod.website-files.com/684cc6638b0f0abf60033894/6858a1d6db0f8dcba0f11337_CodaMetrix-CodeForBetter.png
servers:
- url: https://status.codametrix.com/api/v2
  description: CodaMetrix Statuspage Page API v2 (production, unauthenticated)
security: []
tags:
- name: Status
  description: Overall page status rollup.
paths:
  /status.json:
    get:
      tags:
      - Status
      summary: Get the page status rollup
      description: Get the status rollup for the whole page. Includes an indicator — one of `none`, `minor`, `major` or `critical` — plus a human description of the blended component status, such as "All Systems Operational", "Partial System Outage" or "Major Service Outage".
      operationId: getStatus
      responses:
        '200':
          description: The page status rollup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
              example:
                page:
                  id: 93g3jjmkfprd
                  name: CodaMetrix
                  url: https://status.codametrix.com
                  time_zone: America/New_York
                  updated_at: '2026-08-02T14:59:36.991-04:00'
                status:
                  indicator: none
                  description: All Systems Operational
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Page:
      type: object
      description: Identity of the status page every response is scoped to.
      properties:
        id:
          type: string
          description: Statuspage page identifier for CodaMetrix.
          examples:
          - 93g3jjmkfprd
        name:
          type: string
          examples:
          - CodaMetrix
        url:
          type: string
          format: uri
          examples:
          - https://status.codametrix.com
        time_zone:
          type: string
          description: IANA time zone the page displays times in.
          examples:
          - America/New_York
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - url
      - updated_at
    Status:
      type: object
      description: Blended rollup of every component status on the page.
      properties:
        indicator:
          type: string
          enum:
          - none
          - minor
          - major
          - critical
          - maintenance
        description:
          type: string
          examples:
          - All Systems Operational
      required:
      - indicator
      - description
    StatusResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        status:
          $ref: '#/components/schemas/Status'
      required:
      - page
      - status
  responses:
    NotFound:
      description: 'The requested path is not a Page API v2 endpoint. Observed live: an unknown path under /api/v2/ returns HTTP 404 with an empty body and no `content-type` — there is no JSON or RFC 9457 error envelope on this API.'
x-provenance:
  generated: '2026-08-04'
  method: generated
  generated_by: API Evangelist enrichment pipeline
  published_by_provider: false
  note: CodaMetrix publishes no OpenAPI. This document was written from the endpoint reference CodaMetrix serves at https://status.codametrix.com/api/ and from live responses fetched from each path. It is an API Evangelist artifact describing a real, live, unauthenticated API — not a specification CodaMetrix authored or endorses.
  sources:
  - https://status.codametrix.com/api/
  - examples/codametrix-status-summary.json
  - examples/codametrix-status-status.json
  - examples/codametrix-status-components.json
  - examples/codametrix-status-incidents.json
  - examples/codametrix-status-incidents-unresolved.json
  - examples/codametrix-status-scheduled-maintenances.json
  - examples/codametrix-status-scheduled-maintenances-upcoming.json
  - examples/codametrix-status-scheduled-maintenances-active.json
x-evidence:
  fetched: '2026-08-04'
  probes:
  - url: https://status.codametrix.com/api/
    http_status: 200
    content_type: text/html
  - url: https://status.codametrix.com/api/v2/summary.json
    http_status: 200
    content_type: application/json
  - url: https://status.codametrix.com/api/v2/status.json
    http_status: 200
    content_type: application/json
  - url: https://status.codametrix.com/api/v2/components.json
    http_status: 200
    content_type: application/json
  - url: https://status.codametrix.com/api/v2/incidents.json
    http_status: 200
    content_type: application/json
  - url: https://status.codametrix.com/api/v2/incidents/unresolved.json
    http_status: 200
    content_type: application/json
  - url: https://status.codametrix.com/api/v2/scheduled-maintenances.json
    http_status: 200
    content_type: application/json
  - url: https://status.codametrix.com/api/v2/scheduled-maintenances/upcoming.json
    http_status: 200
    content_type: application/json
  - url: https://status.codametrix.com/api/v2/scheduled-maintenances/active.json
    http_status: 200
    content_type: application/json
  - url: https://status.codametrix.com/api/v2/nonexistent.json
    http_status: 404
    note: empty body
    no content-type: null
